.sidebar {
    width: 25%;
    height: 100%;
    position: fixed;
    background-color:#F2EAE1;
    top: 0;
    left: 0;  
    transition: left 0.3s ease;
    padding-top: 20px;
    z-index: 999;
    display: flex;
    justify-content: center;
    text-align: center;
  
  }
  
  .sidebarContent img{width: 9.375rem;
    height: 9.375rem;
    margin: 2rem auto;
    border-radius: 50%;
  }
  .sidebarContent a{
    text-decoration: none;
  }
  nav a{
    font-family: Quicksand, Arial, sans-serif;
    font-weight: 500;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#000000b3;
    position: relative; 
    text-decoration: none;
  }
  nav ul{
    list-style: none;
  }
  
  nav li{
    margin-top: 20px;
  }
  
    .active{
        background-color: #FEAF00;
        border-radius: 5px;
        padding: 10px  20px;
        
    }
    .hamburger {
        display: none;
        background: none;
        border: none;
        font-size: 30px;
        cursor: pointer;
        border: rgb(151 153 155)solid 1px;
        color:rgb(151 153 155) ;
        padding: 5px 20px ;
        border-radius: 10px;
        margin: 10px ;
  
      }
      
      .icons{
        position: relative;
        width: fit-content;
      }
      .close-icon {
        display: none;
        position: absolute;
        top: 20px;
      left: 300px;
        cursor: pointer;
        z-index: 999999;
  
  
      }
  
    @media (max-width: 900px) {
        .sidebar {
          left: -50%;
        }
   
      
        .sidebar.open {
          left: 0; 
          width: 70%;
          
        }
        .hamburger {
            display: block;  
            position: absolute;   
            top: 10px;           
            left: 10px;         
            z-index: 1000;        
          }
          .close-icon {
            display: block; 
          }
    }