<div class="profile-user py-5 ">
    <h2 class="ms-2 pb-2"> Profile</h2>
    <div class="d-flex justify-content-center profile-content">
        <div class=" row add-user-content  w-75 d-flex justify-content-center ">
            <div class="profile-img"> <img src="../../assets/1.jpg">
            </div>
            <div class=" col-md-5"> <label for="frist-name">First Name</label>
                <input id="frist-name" type="text" placeholder="Enter Your First Name" class="form-control ">
            </div>

            <div class="col-md-5"> <label for="last-name">Last Name</label>
                <input id="last-name" type="text" placeholder="Enter Your Last Name" class="form-control ">
            </div>
            <div class=" col-md-5 mt-2"> <label for="email">Email</label>
                <input id="email" type="text" placeholder="Enter Your email" class="form-control ">
            </div>
            <div class=" col-md-5 mt-2"> <label for="Age">Age</label>
                <input id="Age" type="number" placeholder="Enter Your Age" class="form-control ">
            </div>
            <div class="col-md-5 mt-2"> <label for="phone">Phone Number</label>
                <input id="phone" type="number" placeholder="Enter Your Phone Number" class="form-control ">
            </div>


            <div class="col-md-5 mt-2"> <label for="birth-date">Brith Date</label>
                <input id="birth-date" placeholder="Enter Your Brith Date" class="form-control ">
            </div>
        </div>
    </div>
</div>